
## <summary>policy for bitrubcoin</summary>


########################################
## <summary>
##	Transition to bitrubcoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`bitrubcoin_domtrans',`
	gen_require(`
		type bitrubcoin_t, bitrubcoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, bitrubcoin_exec_t, bitrubcoin_t)
')


########################################
## <summary>
##	Execute bitrubcoin server in the bitrubcoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitrubcoin_initrc_domtrans',`
	gen_require(`
		type bitrubcoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, bitrubcoin_initrc_exec_t)
')


########################################
## <summary>
##	Search bitrubcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitrubcoin_search_lib',`
	gen_require(`
		type bitrubcoin_var_lib_t;
	')

	allow $1 bitrubcoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read bitrubcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitrubcoin_read_lib_files',`
	gen_require(`
		type bitrubcoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, bitrubcoin_var_lib_t, bitrubcoin_var_lib_t)
')

########################################
## <summary>
##	Manage bitrubcoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitrubcoin_manage_lib_files',`
	gen_require(`
		type bitrubcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, bitrubcoin_var_lib_t, bitrubcoin_var_lib_t)
')

########################################
## <summary>
##	Manage bitrubcoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`bitrubcoin_manage_lib_dirs',`
	gen_require(`
		type bitrubcoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, bitrubcoin_var_lib_t, bitrubcoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a bitrubcoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`bitrubcoin_admin',`
	gen_require(`
		type bitrubcoin_t;
		type bitrubcoin_initrc_exec_t;
		type bitrubcoin_var_lib_t;
	')

	allow $1 bitrubcoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, bitrubcoin_t)

	bitrubcoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 bitrubcoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, bitrubcoin_var_lib_t)

')

